<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greet</title>
</head>

<style>
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

h1{
    font-family: 'Tilt Neon', cursive;
    color: white;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>

<body>

    {%  if dia  %}
        <h1>Bom dia, {{name}}!</h1>
    
    {%  else  %}
        <h1>Boa Noite, {{name}}!</h1>
        
    {%  endif  %}
</body>
</html>